{include file="public/header" /}
<div class="page">
    <div class="fixed-bar">
        <div class="item-title">
            <h3>虚拟订单结算</h3>
            <ul class="tab-base">
                <li><a href="{:url('Vrbill/index')}"><span>结算管理</span></a></li>
                <li><a href="{:url('Vrbill/show_statis',['os_month'=>$bill_info.vros_month])}"><span>{$bill_info.vros_month}期  商家账单列表</span></a></li>
                <li><a class="current" href="JavaScript:void(0);"><span>账单明细</span></a></li>
            </ul>
        </div>
    </div>
<div class="fixed-empty"></div>  
<table class="ds-default-table noborder search">
    <tbody>
        <tr><td>店铺 - {$bill_info.vrob_store_name}（ID：{$bill_info.vrob_store_id}） {$bill_info.vros_month} 期 结算单&emsp;
                {if $bill_info.vrob_state == $Think.BILL_STATE_STORE_COFIRM }
                <a class="btn btn-mini" onclick="if (confirm('审核后将无法撤销，进入下一步付款环节，确认审核吗?')){return true;}else{return false;}" href="{:url('Vrbill/bill_check',['ob_no'=>$Request.param.ob_no])}"><span>审核</span></a>
                {elseif $bill_info.vrob_state == $Think.BILL_STATE_SYSTEM_CHECK /}
                <a class="btn btn-mini" href="{:url('Vrbill/bill_pay',['ob_no'=>$Request.param.ob_no])}"><span>付款完成</span></a>
                {elseif $bill_info.vrob_state == $Think.BILL_STATE_SUCCESS /}
                <a class="btn btn-mini" target="_blank" href="{:url('Vrbill/bill_print',['ob_no'=>$Request.param.ob_no])}"><span>{$Think.lang.ds_export}打印</span></a>
                {/if}
            </td>
        </tr>
        <tr><td>{$Think.lang.order_time_from}结算单号{$Think.lang.ds_colon}{$bill_info.vrob_no}</td></tr>
        <tr><td>起止日期{$Think.lang.ds_colon}{$bill_info.vrob_startdate|date="Y-m-d",###}&nbsp;至&nbsp;{$bill_info.vrob_enddate|date="Y-m-d",###}
            </td></tr><tr>
            <td>出账日期{$Think.lang.ds_colon}{$bill_info.vrob_createdate|date="Y-m-d",###}</td></tr><tr>
            <td>平台应付金额：{$bill_info.vrob_result_totals} = {$bill_info.vrob_order_totals} (消费金额) - {$bill_info.vrob_commis_totals} (佣金金额) - {$bill_info.vrob_inviter_totals} (分销佣金)</td>
        </tr>
        <tr><td>结算状态：{:get_bill_state($bill_info['vrob_state'])}
                {if $bill_info.vrob_state == $Think.BILL_STATE_SUCCESS}
                &emsp;结算日期{$Think.lang.ds_colon}{$bill_info.vrob_paydate|date="Y-m-d",###}，结算备注{$Think.lang.ds_colon}{$bill_info.vrob_pay_content}
                {/if}
            </td></tr>
    </tbody>
</table>


<div class="homepage-focus">
    <h4>兑换码列表</h4>
    <ul class="tab-menu">
        <li class="{if $Request.param.query_type != 'timeout'}current{/if}">
            <a href="{:url('Vrbill/show_bill',['ob_no'=>$Request.param.ob_no,'query_type'=>''])}">已使用</a>
        </li>
        <li class="{if $Request.param.query_type == 'timeout'}current{/if}">
            <a href="{:url('Vrbill/show_bill',['ob_no'=>$Request.param.ob_no,'query_type'=>'timeout'])}">已过期</a>
        </li>
    </ul>
</div>


<table class="ds-default-table nobdb">
    <thead>
      <tr class="thead">
        <th class="align-center">兑换码</th>
        <th class="align-center">{if $Request.param.query_type != 'timeout'}过期时间{else/}消费时间{/if}</th>
        <th class="align-center">订单号</th>
        <th class="align-center">消费金额</th>
        <th class="align-center">佣金金额</th>
        <th class="align-center">买家</th>
        <th class="align-center">商家</th>
        <th>{$Think.lang.ds_handle}</th>
      </tr>
    </thead>
    <tbody>
      {notempty name="code_list"}
      {foreach name="code_list" item="code_info"}
      <tr class="hover">
        <td class="align-center">{$code_info.vr_code}</td>
        <td class="align-center">
        {if $Request.get.query_type == 'timeout'}
        {$code_info.vr_indate|date="Y-m-d H:i:s",###}
        {else/}
        {$code_info.vr_usetime|date="Y-m-d H:i:s",###}
        {/if}
        </td>
        <td class="align-center">{$order_list[$code_info['order_id']]['order_sn']}</td>
        <td class="align-center">{$code_info.pay_price}</td>
        <td class="align-center"><?php echo ds_price_format($code_info['pay_price']*$code_info['commis_rate']/100);?></td>
        <td class="align-center">{$order_list[$code_info['order_id']]['buyer_name']}</td>
        <td class="align-center">{$order_list[$code_info['order_id']]['store_name']}</td>
        <td>
        <a href="{:url('Vrorder/show_order',['order_id'=>$code_info.order_id])}" class="dsui-btn-view"><i class="fa"></i>{$Think.lang.ds_view}</a>
        </td>
      </tr>
     {/foreach}
     {else /}
      <tr class="no_data">
        <td colspan="15">{$Think.lang.ds_no_record}</td>
      </tr>
    {/notempty}
    </tbody>
    <tfoot>
      <tr class="tfoot">
        <td colspan="15" id="dataFuncs">{$show_page}</td>
      </tr>
    </tfoot>
  </table>
</div>
